body {
  background-color: lightblue;
color: blue;  
  font- family: sans_serif
}
h1 {
Color: rgb(187,160,216);
font-family: serif;
text-align: center;
font-size: 30px;
}
p {
  color: rgb(207,130,233)
  font-family: serif;
font-size: 30px:
}
