body {
  background-color: lightpink;
color: pink;  
  font- family: sans_serif
}
h1 {
Color: rgb(187,160,216);
font-family:ğ“£ğ”‚ğ“¹ğ“® ğ“¼ğ“¸ğ“¶ğ“®ğ“½ğ“±ğ“²ğ“·ğ“° ğ“½ğ“¸ ğ“¼ğ“½ğ“ªğ“»ğ“½;
text-align: center;
font-size: 30px;
}
